.snippetCard {
    width: 15rem;
    height: auto;
    border: darkgrey 1px solid;
    border-radius: 10px;
    margin-right: 1.2em;
    text-align: -moz-center;
}

.mainStat {
    text-align: center;
    font-size:60px;
    margin: 0;
    color: #ffc65d;
    font-weight: bold;
}