.sideMenu {
    position: sticky;
    top: 0;
    left: 0;
    height:100vh;
    min-width: 17em;
    font-size: 1.1em;
    background-color: #010e1f;
    color: orange;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navLink {
    width: auto;
    padding: 0.9em;
    margin: 0.4em;
    border-style: hidden;
    border-radius: 15px;
    background-color: #1d3244;
}

.navLink:hover {
    background-color: #4d6179;
}

.logo {
    height: 6.5em;
    width: 6.7em;
    margin: 0.2em 0 0.2em 0;
}

a {
    text-decoration: none;
    color: #ffc65d;
}

a:visited {
    color: #ffc65d;
}